@import url('https://fonts.googleapis.com/css?family=Raleway:100,300,400,700,900');
* {
  font-family: 'Raleway', sans-serif;
}

button {
  float: right
}

body {
  background-image: url("pics/backgrd2.jpg");
}

.title {
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
}

.title span {
  font-weight: 900;
}

img {
  max-width: 600px;
}

.container {
  background: white;
  width: 700px;
  height: 800px;
  margin: 0 auto;
  display: block;
  position: relative;
}

.box {
  align-content: center;
  position: relative;
}

.logo {
  display: none;
  margin: auto;
  width: 400px;
  padding-bottom: 1px;
}

#scorebox {
  float: right;
}

#subtitle {
  padding-left: 50px;
}

#quizHeading {
  padding-left: 50px;
  color: green;
  font-size: xx-large;
  font-style: italic;
}

#question-title,
#choices {
  padding-left: 50px;
}

#results-box {
  padding-left: 100px;
}

#counterText {
  padding-left: 50px;
}

h2 {
  display: inline-block
}

#current-score-count {
  color: green;
}

#start-box {
  display: inline;
}

#start {
  float: right;
}

#question-box {
  display: none;
}

#results-box {
  display: none;
}

#instant-answer-box {
  display: none;
}

.pic {
  width: 600px;
  padding-top: 15px;
  padding-left: 50px;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  background-color: green;
  color: #ffffff !important;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  height: 3.15em;
  line-height: 3.25em;
  padding: 0 2.2em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

ul {
  padding-left: 0;
}

ul li {
  list-style: none;
}